#
/sw/*
/tb/*
/archive/*
#
/custom_ip_workspace/ov7670_capture/*.cache
/custom_ip_workspace/ov7670_capture/*.hw
/custom_ip_workspace/ov7670_capture/*.ip_user_files
/custom_ip_workspace/ov7670_capture/*.sim
/custom_ip_workspace/ov7670_capture/*.xpr
